body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

.nav{
display:flex;
justify-content:space-between;
padding:15px;
background:#1e3a8a;
color:white;
}

.nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.container{
padding:40px;
}

input{
display:block;
width:300px;
padding:10px;
margin-bottom:10px;
}

button{
padding:10px 20px;
background:#1e3a8a;
color:white;
border:none;
cursor:pointer;
}

.card{
width:350px;
padding:20px;
background:#1e3a8a;
color:white;
border-radius:10px;
text-align:center;
}

.cta{
display:inline-block;
padding:12px 25px;
background:#1e3a8a;
color:white;
text-decoration:none;
margin-top:20px;
}
